@page
@model EFDemo.Pages.IndexModel
@{
    <style>
    table, th, td {
    border: 1px solid black;
    }
</style>
    <div class="text-center">
    <p>Lista wszystkich walut</p>
    </div>
    <table>
    <thead>
    <tr><td>Rodzaj Waluty</td><td>Ilość Monet</td><td>Wartość Waluty</td></tr>
    </thead>
    <tbody>
    @foreach (var item in Model.Results)
    {
       <tr><td>@item.opis</td><td> @item.ilość </td><td >@item.wartość </td><td><a class="btn-primary" href="/Edytuj?id=@item.Id">Edytuj</a><a class="btn-red" href="/Usuń?id=@item.Id">Usuń</a></td></tr>
    }
    </tbody>
    </table>
}
